@font-face { 
  font-family: Junitta; src: url('/extras/Junitta-BW55G.otf'); 
}

:root{
  --purple: #6242c1bb;
  --beige: #FCF8F8;
  --yellow:  #f2b233;
}

body{
  background-color: var(--beige);
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}


/* ANIMATIONS */
@keyframes bounce1 {
  0%   { transform: translateY(0); }
  50%  { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}

/* NAVBAR */
.navbar {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  position: sticky;
  top: 0;
  background-color: var(--beige);
  z-index: 2;
}


.logo {
  width: 4rem;
}

.navbar-menu{
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
}

.menu-item {
  margin: 1.5rem;
  color: #000000; 
  font-size: 1.1rem;
  font-weight: bold;
  border-bottom: #000000 solid;
}

.menu-item:hover{
  color: var(--purple);
  transition: .6s;
  border-bottom: var(--purple) solid ;
}

.nav-cart {
  padding-right: 4rem;
}

.fa-cart-shopping{
  font-size: 1.5rem;
  color: #000000;
}

.fa-cart-shopping:hover {
  color: var(--purple);
  transition: .6s;
}

/* BUILD YOUR CAKE SHOWCASE */
.showcase{
  padding-top: 3rem;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.build-title {
  font-family: Junitta;
  font-size: 5rem;
  font-weight: 300;
  height: fit-content;
}

.build-btn {
  background-color: var(--purple);
  font-size: 1.5rem;
  border: none;
  color: var(--beige);
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 2rem;
}

.build-btn:hover{
  color: var(--beige);
  background-color: #000000;
  transition: .6s;
}

.scroll-me {
  font-size: 1rem;
  width: 15%;
  height: fit-content;
  text-align: center;
  justify-content: center;
  animation: bounce1 2s infinite, show1 5s forwards;
  position: absolute;
  bottom: 0;
  right: 1rem;
  padding: 10px 10px;
  cursor: pointer;
  border-radius: 2rem;
  background-color: var(--yellow);
  box-shadow: 5px #00000075;
}

.scroll-text {
  color: black;
  font-weight: bold;
}

.banner {
  position: absolute;
  bottom: 0;
  width: 100%;
  opacity: 90%;
}

/* RESPONSIVE CONFIG */
@media screen and (max-width: 760px) {
  .build-btn{
    font-size: 1rem;
  }
  .navbar-menu {
    display: none;
  }
  .build-title {
    font-size: 3rem;
  }
  .showcase {
    align-items: center;
  }
  .scroll-me{
    width: auto;
    font-size: 1rem;
  }
}