@font-face { 
  font-family: Junitta; src: url('/extras/Junitta-BW55G.otf'); 
}

:root{
  --purple: #6242c1bb;
  --beige: #FCF8F8;
}

body{
  background-color: var(--beige);
  font-family: 'Roboto', sans-serif;
}

a{
  text-decoration: none;
}

.navbar {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  padding-top: 1rem;
  border: none;
  position: fixed;
  top: 0;
  background-color: var(--beige);
  z-index: 2;
}

.nav-logo{
  padding-left: 3rem;
}

.logo {
  width: 4rem;
}

.navbar-menu{
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
}

.menu-item {
  margin: 1.5rem;
  color: #000000; 
  font-size: 1.1rem;
  font-weight: bold;
  border-bottom: #000000 solid;
}

.menu-item:hover{
  color: var(--purple);
  transition: .6s;
  border-bottom: var(--purple) solid ;
}

.nav-cart {
  padding-right: 4rem;
}

.fa-cart-shopping{
  font-size: 2rem;
  color: #000000;
}

.fa-cart-shopping:hover {
  color: var(--purple);
  transition: .6s;
}

.showcase{
  width: 100%;
  text-align: center;
  border: none;
}

.build-title {
  font-family: Junitta;
  font-size: 5rem;
  height: fit-content;
}

.build-btn {
  background-color: var(--purple);
  font-size: 2rem;
  border: none;
  color: var(--beige);
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 2rem;
  position: absolute;
  right: 15vh;
  bottom: 20vh;
}

.build-btn:hover{
  color: var(--beige);
  background-color: #000000;
  transition: .6s;
}

.cake{
  width: 70%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100vh;
}

@media screen and (max-width: 760px) {
  .cake {
    display: none;
  }
  .build-btn{
    position: relative;
    right: auto;
    left: auto;
    bottom: 5vh;
  }
  .navbar-menu {
    display: none;
  }
  .build-title {
    font-size: 3rem;
  }
  .showcase {
    margin-top: 40vh;
    align-items: center;
  }
}